---
openapi: 3.0.0
info:
  title: Telegram Bot API
  description: Auto-generated OpenAPI schema
  version: 5.0.0
externalDocs:
  description: The Bot API is an HTTP-based interface created for developers keen on building bots for Telegram.
  url: https://core.telegram.org/bots/api
servers:
- url: https://api.telegram.org/bot{token}
  variables:
    token:
      description: Each bot is given a unique authentication token when it is created.
      default: 123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11
paths:
  /getUpdates:
    post:
      description: Use this method to receive incoming updates using long polling ([wiki](https://en.wikipedia.org/wiki/Push_technology#Long_polling)). An Array of [Update](https://core.telegram.org/bots/api/#update) objects is returned.
      externalDocs:
        url: https://core.telegram.org/bots/api/#getupdates
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_1'
          application/json:
            schema:
              $ref: '#/components/schemas/body_2'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /setWebhook:
    post:
      description: |-
        Use this method to specify a url and receive incoming updates via an outgoing webhook. Whenever there is an update for the bot, we will send an HTTPS POST request to the specified url, containing a JSON-serialized [Update](https://core.telegram.org/bots/api/#update). In case of an unsuccessful request, we will give up after a reasonable amount of attempts. Returns *True* on success.

        If you'd like to make sure that the Webhook request comes from Telegram, we recommend using a secret path in the URL, e.g. `https://www.example.com/<token>`. Since nobody else knows your bot's token, you can be pretty sure it's us.
      externalDocs:
        url: https://core.telegram.org/bots/api/#setwebhook
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_3'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /deleteWebhook:
    post:
      description: Use this method to remove webhook integration if you decide to switch back to [getUpdates](https://core.telegram.org/bots/api/#getupdates). Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#deletewebhook
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_4'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_5'
          application/json:
            schema:
              $ref: '#/components/schemas/body_6'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /getWebhookInfo:
    post:
      description: Use this method to get current webhook status. Requires no parameters. On success, returns a [WebhookInfo](https://core.telegram.org/bots/api/#webhookinfo) object. If the bot is using [getUpdates](https://core.telegram.org/bots/api/#getupdates), will return an object with the *url* field empty.
      externalDocs:
        url: https://core.telegram.org/bots/api/#getwebhookinfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /getMe:
    post:
      description: A simple method for testing your bot's auth token. Requires no parameters. Returns basic information about the bot in form of a [User](https://core.telegram.org/bots/api/#user) object.
      externalDocs:
        url: https://core.telegram.org/bots/api/#getme
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /logOut:
    post:
      description: Use this method to log out from the cloud Bot API server before launching the bot locally. You **must** log out the bot before running it locally, otherwise there is no guarantee that the bot will receive updates. After a successful call, you can immediately log in on a local server, but will not be able to log in back to the cloud Bot API server for 10 minutes. Returns *True* on success. Requires no parameters.
      externalDocs:
        url: https://core.telegram.org/bots/api/#logout
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /close:
    post:
      description: Use this method to close the bot instance before moving it from one local server to another. You need to delete the webhook before calling this method to ensure that the bot isn't launched again after server restart. The method will return error 429 in the first 10 minutes after the bot is launched. Returns *True* on success. Requires no parameters.
      externalDocs:
        url: https://core.telegram.org/bots/api/#close
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sendMessage:
    post:
      description: Use this method to send text messages. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned.
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendmessage
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_7'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_8'
          application/json:
            schema:
              $ref: '#/components/schemas/body_9'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /forwardMessage:
    post:
      description: Use this method to forward messages of any kind. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned.
      externalDocs:
        url: https://core.telegram.org/bots/api/#forwardmessage
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_10'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_11'
          application/json:
            schema:
              $ref: '#/components/schemas/body_12'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /copyMessage:
    post:
      description: Use this method to copy messages of any kind. The method is analogous to the method [forwardMessages](https://core.telegram.org/bots/api/#forwardmessages), but the copied message doesn't have a link to the original message. Returns the [MessageId](https://core.telegram.org/bots/api/#messageid) of the sent message on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#copymessage
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_13'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_14'
          application/json:
            schema:
              $ref: '#/components/schemas/body_15'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sendPhoto:
    post:
      description: Use this method to send photos. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned.
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendphoto
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_16'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sendAudio:
    post:
      description: |-
        Use this method to send audio files, if you want Telegram clients to display them in the music player. Your audio must be in the .MP3 or .M4A format. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned. Bots can currently send audio files of up to 50 MB in size, this limit may be changed in the future.

        For sending voice messages, use the [sendVoice](https://core.telegram.org/bots/api/#sendvoice) method instead.
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendaudio
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_17'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sendDocument:
    post:
      description: Use this method to send general files. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned. Bots can currently send files of any type of up to 50 MB in size, this limit may be changed in the future.
      externalDocs:
        url: https://core.telegram.org/bots/api/#senddocument
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_18'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sendVideo:
    post:
      description: Use this method to send video files, Telegram clients support mp4 videos (other formats may be sent as [Document](https://core.telegram.org/bots/api/#document)). On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned. Bots can currently send video files of up to 50 MB in size, this limit may be changed in the future.
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendvideo
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_19'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sendAnimation:
    post:
      description: Use this method to send animation files (GIF or H.264/MPEG-4 AVC video without sound). On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned. Bots can currently send animation files of up to 50 MB in size, this limit may be changed in the future.
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendanimation
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_20'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sendVoice:
    post:
      description: Use this method to send audio files, if you want Telegram clients to display the file as a playable voice message. For this to work, your audio must be in an .OGG file encoded with OPUS (other formats may be sent as [Audio](https://core.telegram.org/bots/api/#audio) or [Document](https://core.telegram.org/bots/api/#document)). On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned. Bots can currently send voice messages of up to 50 MB in size, this limit may be changed in the future.
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendvoice
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_21'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sendVideoNote:
    post:
      description: As of [v.4.0](https://telegram.org/blog/video-messages-and-telescope), Telegram clients support rounded square mp4 videos of up to 1 minute long. Use this method to send video messages. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned.
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendvideonote
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_22'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sendMediaGroup:
    post:
      description: Use this method to send a group of photos, videos, documents or audios as an album. Documents and audio files can be only grouped in an album with messages of the same type. On success, an array of [Messages](https://core.telegram.org/bots/api/#message) that were sent is returned.
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendmediagroup
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_23'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sendLocation:
    post:
      description: Use this method to send point on the map. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned.
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendlocation
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_24'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_25'
          application/json:
            schema:
              $ref: '#/components/schemas/body_26'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /editMessageLiveLocation:
    post:
      description: Use this method to edit live location messages. A location can be edited until its *live\_period* expires or editing is explicitly disabled by a call to [stopMessageLiveLocation](https://core.telegram.org/bots/api/#stopmessagelivelocation). On success, if the edited message is not an inline message, the edited [Message](https://core.telegram.org/bots/api/#message) is returned, otherwise *True* is returned.
      externalDocs:
        url: https://core.telegram.org/bots/api/#editmessagelivelocation
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_27'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_28'
          application/json:
            schema:
              $ref: '#/components/schemas/body_29'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /stopMessageLiveLocation:
    post:
      description: Use this method to stop updating a live location message before *live\_period* expires. On success, if the message was sent by the bot, the sent [Message](https://core.telegram.org/bots/api/#message) is returned, otherwise *True* is returned.
      externalDocs:
        url: https://core.telegram.org/bots/api/#stopmessagelivelocation
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_30'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_31'
          application/json:
            schema:
              $ref: '#/components/schemas/body_32'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sendVenue:
    post:
      description: Use this method to send information about a venue. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned.
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendvenue
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_33'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_34'
          application/json:
            schema:
              $ref: '#/components/schemas/body_35'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sendContact:
    post:
      description: Use this method to send phone contacts. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned.
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendcontact
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_36'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_37'
          application/json:
            schema:
              $ref: '#/components/schemas/body_38'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sendPoll:
    post:
      description: Use this method to send a native poll. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned.
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendpoll
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_39'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_40'
          application/json:
            schema:
              $ref: '#/components/schemas/body_41'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sendDice:
    post:
      description: Use this method to send an animated emoji that will display a random value. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned.
      externalDocs:
        url: https://core.telegram.org/bots/api/#senddice
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_42'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_43'
          application/json:
            schema:
              $ref: '#/components/schemas/body_44'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sendChatAction:
    post:
      description: |-
        Use this method when you need to tell the user that something is happening on the bot's side. The status is set for 5 seconds or less (when a message arrives from your bot, Telegram clients clear its typing status). Returns *True* on success.

        Example: The [ImageBot](https://t.me/imagebot) needs some time to process a request and upload the image. Instead of sending a text message along the lines of “Retrieving image, please wait…”, the bot may use [sendChatAction](https://core.telegram.org/bots/api/#sendchataction) with *action* = *upload\_photo*. The user will see a “sending photo” status for the bot.

        We only recommend using this method when a response from the bot will take a **noticeable** amount of time to arrive.
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendchataction
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_45'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_46'
          application/json:
            schema:
              $ref: '#/components/schemas/body_47'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /getUserProfilePhotos:
    post:
      description: Use this method to get a list of profile pictures for a user. Returns a [UserProfilePhotos](https://core.telegram.org/bots/api/#userprofilephotos) object.
      externalDocs:
        url: https://core.telegram.org/bots/api/#getuserprofilephotos
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_48'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_49'
          application/json:
            schema:
              $ref: '#/components/schemas/body_50'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /getFile:
    post:
      description: Use this method to get basic info about a file and prepare it for downloading. For the moment, bots can download files of up to 20MB in size. On success, a [File](https://core.telegram.org/bots/api/#file) object is returned. The file can then be downloaded via the link `https://api.telegram.org/file/bot<token>/<file_path>`, where `<file_path>` is taken from the response. It is guaranteed that the link will be valid for at least 1 hour. When the link expires, a new one can be requested by calling [getFile](https://core.telegram.org/bots/api/#getfile) again.
      externalDocs:
        url: https://core.telegram.org/bots/api/#getfile
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_51'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_52'
          application/json:
            schema:
              $ref: '#/components/schemas/body_53'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /kickChatMember:
    post:
      description: Use this method to kick a user from a group, a supergroup or a channel. In the case of supergroups and channels, the user will not be able to return to the group on their own using invite links, etc., unless [unbanned](https://core.telegram.org/bots/api/#unbanchatmember) first. The bot must be an administrator in the chat for this to work and must have the appropriate admin rights. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#kickchatmember
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_54'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_55'
          application/json:
            schema:
              $ref: '#/components/schemas/body_56'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /unbanChatMember:
    post:
      description: Use this method to unban a previously kicked user in a supergroup or channel. The user will **not** return to the group or channel automatically, but will be able to join via link, etc. The bot must be an administrator for this to work. By default, this method guarantees that after the call the user is not a member of the chat, but will be able to join it. So if the user is a member of the chat they will also be **removed** from the chat. If you don't want this, use the parameter *only\_if\_banned*. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#unbanchatmember
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_57'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_58'
          application/json:
            schema:
              $ref: '#/components/schemas/body_59'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /restrictChatMember:
    post:
      description: Use this method to restrict a user in a supergroup. The bot must be an administrator in the supergroup for this to work and must have the appropriate admin rights. Pass *True* for all permissions to lift restrictions from a user. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#restrictchatmember
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_60'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_61'
          application/json:
            schema:
              $ref: '#/components/schemas/body_62'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /promoteChatMember:
    post:
      description: Use this method to promote or demote a user in a supergroup or a channel. The bot must be an administrator in the chat for this to work and must have the appropriate admin rights. Pass *False* for all boolean parameters to demote a user. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#promotechatmember
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_63'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_64'
          application/json:
            schema:
              $ref: '#/components/schemas/body_65'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /setChatAdministratorCustomTitle:
    post:
      description: Use this method to set a custom title for an administrator in a supergroup promoted by the bot. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#setchatadministratorcustomtitle
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_66'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_67'
          application/json:
            schema:
              $ref: '#/components/schemas/body_68'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /setChatPermissions:
    post:
      description: Use this method to set default chat permissions for all members. The bot must be an administrator in the group or a supergroup for this to work and must have the *can\_restrict\_members* admin rights. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#setchatpermissions
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_69'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_70'
          application/json:
            schema:
              $ref: '#/components/schemas/body_71'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /exportChatInviteLink:
    post:
      description: Use this method to generate a new invite link for a chat; any previously generated link is revoked. The bot must be an administrator in the chat for this to work and must have the appropriate admin rights. Returns the new invite link as *String* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#exportchatinvitelink
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_72'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_73'
          application/json:
            schema:
              $ref: '#/components/schemas/body_74'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /setChatPhoto:
    post:
      description: Use this method to set a new profile photo for the chat. Photos can't be changed for private chats. The bot must be an administrator in the chat for this to work and must have the appropriate admin rights. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#setchatphoto
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_75'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /deleteChatPhoto:
    post:
      description: Use this method to delete a chat photo. Photos can't be changed for private chats. The bot must be an administrator in the chat for this to work and must have the appropriate admin rights. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#deletechatphoto
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_76'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_77'
          application/json:
            schema:
              $ref: '#/components/schemas/body_78'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /setChatTitle:
    post:
      description: Use this method to change the title of a chat. Titles can't be changed for private chats. The bot must be an administrator in the chat for this to work and must have the appropriate admin rights. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#setchattitle
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_79'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_80'
          application/json:
            schema:
              $ref: '#/components/schemas/body_81'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /setChatDescription:
    post:
      description: Use this method to change the description of a group, a supergroup or a channel. The bot must be an administrator in the chat for this to work and must have the appropriate admin rights. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#setchatdescription
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_82'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_83'
          application/json:
            schema:
              $ref: '#/components/schemas/body_84'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /pinChatMessage:
    post:
      description: Use this method to add a message to the list of pinned messages in a chat. If the chat is not a private chat, the bot must be an administrator in the chat for this to work and must have the 'can\_pin\_messages' admin right in a supergroup or 'can\_edit\_messages' admin right in a channel. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#pinchatmessage
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_85'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_86'
          application/json:
            schema:
              $ref: '#/components/schemas/body_87'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /unpinChatMessage:
    post:
      description: Use this method to remove a message from the list of pinned messages in a chat. If the chat is not a private chat, the bot must be an administrator in the chat for this to work and must have the 'can\_pin\_messages' admin right in a supergroup or 'can\_edit\_messages' admin right in a channel. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#unpinchatmessage
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_88'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_89'
          application/json:
            schema:
              $ref: '#/components/schemas/body_90'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /unpinAllChatMessages:
    post:
      description: Use this method to clear the list of pinned messages in a chat. If the chat is not a private chat, the bot must be an administrator in the chat for this to work and must have the 'can\_pin\_messages' admin right in a supergroup or 'can\_edit\_messages' admin right in a channel. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#unpinallchatmessages
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_91'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_92'
          application/json:
            schema:
              $ref: '#/components/schemas/body_93'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /leaveChat:
    post:
      description: Use this method for your bot to leave a group, supergroup or channel. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#leavechat
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_94'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_95'
          application/json:
            schema:
              $ref: '#/components/schemas/body_96'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /getChat:
    post:
      description: Use this method to get up to date information about the chat (current name of the user for one-on-one conversations, current username of a user, group or channel, etc.). Returns a [Chat](https://core.telegram.org/bots/api/#chat) object on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#getchat
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_97'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_98'
          application/json:
            schema:
              $ref: '#/components/schemas/body_99'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /getChatAdministrators:
    post:
      description: Use this method to get a list of administrators in a chat. On success, returns an Array of [ChatMember](https://core.telegram.org/bots/api/#chatmember) objects that contains information about all chat administrators except other bots. If the chat is a group or a supergroup and no administrators were appointed, only the creator will be returned.
      externalDocs:
        url: https://core.telegram.org/bots/api/#getchatadministrators
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_100'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_101'
          application/json:
            schema:
              $ref: '#/components/schemas/body_102'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /getChatMembersCount:
    post:
      description: Use this method to get the number of members in a chat. Returns *Int* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#getchatmemberscount
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_103'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_104'
          application/json:
            schema:
              $ref: '#/components/schemas/body_105'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /getChatMember:
    post:
      description: Use this method to get information about a member of a chat. Returns a [ChatMember](https://core.telegram.org/bots/api/#chatmember) object on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#getchatmember
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_106'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_107'
          application/json:
            schema:
              $ref: '#/components/schemas/body_108'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /setChatStickerSet:
    post:
      description: Use this method to set a new group sticker set for a supergroup. The bot must be an administrator in the chat for this to work and must have the appropriate admin rights. Use the field *can\_set\_sticker\_set* optionally returned in [getChat](https://core.telegram.org/bots/api/#getchat) requests to check if the bot can use this method. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#setchatstickerset
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_109'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_110'
          application/json:
            schema:
              $ref: '#/components/schemas/body_111'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /deleteChatStickerSet:
    post:
      description: Use this method to delete a group sticker set from a supergroup. The bot must be an administrator in the chat for this to work and must have the appropriate admin rights. Use the field *can\_set\_sticker\_set* optionally returned in [getChat](https://core.telegram.org/bots/api/#getchat) requests to check if the bot can use this method. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#deletechatstickerset
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_112'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_113'
          application/json:
            schema:
              $ref: '#/components/schemas/body_114'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /answerCallbackQuery:
    post:
      description: |-
        Use this method to send answers to callback queries sent from [inline keyboards](/bots#inline-keyboards-and-on-the-fly-updating). The answer will be displayed to the user as a notification at the top of the chat screen or as an alert. On success, *True* is returned.

        Alternatively, the user can be redirected to the specified Game URL. For this option to work, you must first create a game for your bot via [@Botfather](https://t.me/botfather) and accept the terms. Otherwise, you may use links like `t.me/your_bot?start=XXXX` that open your bot with a parameter.
      externalDocs:
        url: https://core.telegram.org/bots/api/#answercallbackquery
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_115'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_116'
          application/json:
            schema:
              $ref: '#/components/schemas/body_117'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /setMyCommands:
    post:
      description: Use this method to change the list of the bot's commands. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#setmycommands
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_118'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_119'
          application/json:
            schema:
              $ref: '#/components/schemas/body_120'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /getMyCommands:
    post:
      description: Use this method to get the current list of the bot's commands. Requires no parameters. Returns Array of [BotCommand](https://core.telegram.org/bots/api/#botcommand) on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#getmycommands
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /editMessageText:
    post:
      description: Use this method to edit text and [game](https://core.telegram.org/bots/api/#games) messages. On success, if the edited message is not an inline message, the edited [Message](https://core.telegram.org/bots/api/#message) is returned, otherwise *True* is returned.
      externalDocs:
        url: https://core.telegram.org/bots/api/#editmessagetext
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_121'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_122'
          application/json:
            schema:
              $ref: '#/components/schemas/body_123'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /editMessageCaption:
    post:
      description: Use this method to edit captions of messages. On success, if the edited message is not an inline message, the edited [Message](https://core.telegram.org/bots/api/#message) is returned, otherwise *True* is returned.
      externalDocs:
        url: https://core.telegram.org/bots/api/#editmessagecaption
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_124'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_125'
          application/json:
            schema:
              $ref: '#/components/schemas/body_126'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /editMessageMedia:
    post:
      description: Use this method to edit animation, audio, document, photo, or video messages. If a message is part of a message album, then it can be edited only to an audio for audio albums, only to a document for document albums and to a photo or a video otherwise. When an inline message is edited, a new file can't be uploaded. Use a previously uploaded file via its file\_id or specify a URL. On success, if the edited message was sent by the bot, the edited [Message](https://core.telegram.org/bots/api/#message) is returned, otherwise *True* is returned.
      externalDocs:
        url: https://core.telegram.org/bots/api/#editmessagemedia
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_127'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /editMessageReplyMarkup:
    post:
      description: Use this method to edit only the reply markup of messages. On success, if the edited message is not an inline message, the edited [Message](https://core.telegram.org/bots/api/#message) is returned, otherwise *True* is returned.
      externalDocs:
        url: https://core.telegram.org/bots/api/#editmessagereplymarkup
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_128'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_129'
          application/json:
            schema:
              $ref: '#/components/schemas/body_130'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /stopPoll:
    post:
      description: Use this method to stop a poll which was sent by the bot. On success, the stopped [Poll](https://core.telegram.org/bots/api/#poll) with the final results is returned.
      externalDocs:
        url: https://core.telegram.org/bots/api/#stoppoll
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_131'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_132'
          application/json:
            schema:
              $ref: '#/components/schemas/body_133'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_16'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /deleteMessage:
    post:
      description: "Use this method to delete a message, including service messages, with the following limitations:  \n\\- A message can only be deleted if it was sent less than 48 hours ago.  \n\\- A dice message in a private chat can only be deleted if it was sent more than 24 hours ago.  \n\\- Bots can delete outgoing messages in private chats, groups, and supergroups.  \n\\- Bots can delete incoming messages in private chats.  \n\\- Bots granted *can\\_post\\_messages* permissions can delete outgoing messages in channels.  \n\\- If the bot is an administrator of a group, it can delete any message there.  \n\\- If the bot has *can\\_delete\\_messages* permission in a supergroup or a channel, it can delete any message there.  \nReturns *True* on success."
      externalDocs:
        url: https://core.telegram.org/bots/api/#deletemessage
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_134'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_135'
          application/json:
            schema:
              $ref: '#/components/schemas/body_136'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sendSticker:
    post:
      description: Use this method to send static .WEBP or [animated](https://telegram.org/blog/animated-stickers) .TGS stickers. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned.
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendsticker
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_137'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /getStickerSet:
    post:
      description: Use this method to get a sticker set. On success, a [StickerSet](https://core.telegram.org/bots/api/#stickerset) object is returned.
      externalDocs:
        url: https://core.telegram.org/bots/api/#getstickerset
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_138'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_139'
          application/json:
            schema:
              $ref: '#/components/schemas/body_140'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_17'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /uploadStickerFile:
    post:
      description: Use this method to upload a .PNG file with a sticker for later use in *createNewStickerSet* and *addStickerToSet* methods (can be used multiple times). Returns the uploaded [File](https://core.telegram.org/bots/api/#file) on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#uploadstickerfile
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_141'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /createNewStickerSet:
    post:
      description: Use this method to create a new sticker set owned by a user. The bot will be able to edit the sticker set thus created. You **must** use exactly one of the fields *png\_sticker* or *tgs\_sticker*. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#createnewstickerset
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_142'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /addStickerToSet:
    post:
      description: Use this method to add a new sticker to a set created by the bot. You **must** use exactly one of the fields *png\_sticker* or *tgs\_sticker*. Animated stickers can be added to animated sticker sets and only to them. Animated sticker sets can have up to 50 stickers. Static sticker sets can have up to 120 stickers. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#addstickertoset
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_143'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /setStickerPositionInSet:
    post:
      description: Use this method to move a sticker in a set created by the bot to a specific position. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#setstickerpositioninset
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_144'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_145'
          application/json:
            schema:
              $ref: '#/components/schemas/body_146'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /deleteStickerFromSet:
    post:
      description: Use this method to delete a sticker from a set created by the bot. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#deletestickerfromset
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_147'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_148'
          application/json:
            schema:
              $ref: '#/components/schemas/body_149'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /setStickerSetThumb:
    post:
      description: Use this method to set the thumbnail of a sticker set. Animated thumbnails can be set for animated sticker sets only. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#setstickersetthumb
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_150'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /answerInlineQuery:
    post:
      description: "Use this method to send answers to an inline query. On success, *True* is returned.  \nNo more than **50** results per query are allowed."
      externalDocs:
        url: https://core.telegram.org/bots/api/#answerinlinequery
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_151'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_152'
          application/json:
            schema:
              $ref: '#/components/schemas/body_153'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sendInvoice:
    post:
      description: Use this method to send invoices. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned.
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendinvoice
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_154'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_155'
          application/json:
            schema:
              $ref: '#/components/schemas/body_156'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /answerShippingQuery:
    post:
      description: If you sent an invoice requesting a shipping address and the parameter *is\_flexible* was specified, the Bot API will send an [Update](https://core.telegram.org/bots/api/#update) with a *shipping\_query* field to the bot. Use this method to reply to shipping queries. On success, True is returned.
      externalDocs:
        url: https://core.telegram.org/bots/api/#answershippingquery
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_157'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_158'
          application/json:
            schema:
              $ref: '#/components/schemas/body_159'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /answerPreCheckoutQuery:
    post:
      description: Once the user has confirmed their payment and shipping details, the Bot API sends the final confirmation in the form of an [Update](https://core.telegram.org/bots/api/#update) with the field *pre\_checkout\_query*. Use this method to respond to such pre-checkout queries. On success, True is returned. **Note:** The Bot API must receive an answer within 10 seconds after the pre-checkout query was sent.
      externalDocs:
        url: https://core.telegram.org/bots/api/#answerprecheckoutquery
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_160'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_161'
          application/json:
            schema:
              $ref: '#/components/schemas/body_162'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /setPassportDataErrors:
    post:
      description: |-
        Informs a user that some of the Telegram Passport elements they provided contains errors. The user will not be able to re-submit their Passport to you until the errors are fixed (the contents of the field for which you returned the error must change). Returns *True* on success.

        Use this if the data submitted by the user doesn't satisfy the standards your service requires for any reason. For example, if a birthday date seems invalid, a submitted document is blurry, a scan shows evidence of tampering, etc. Supply some details in the error message to make sure the user knows how to correct the issues.
      externalDocs:
        url: https://core.telegram.org/bots/api/#setpassportdataerrors
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_163'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_164'
          application/json:
            schema:
              $ref: '#/components/schemas/body_165'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sendGame:
    post:
      description: Use this method to send a game. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned.
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendgame
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_166'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_167'
          application/json:
            schema:
              $ref: '#/components/schemas/body_168'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /setGameScore:
    post:
      description: Use this method to set the score of the specified user in a game. On success, if the message was sent by the bot, returns the edited [Message](https://core.telegram.org/bots/api/#message), otherwise returns *True*. Returns an error, if the new score is not greater than the user's current score in the chat and *force* is *False*.
      externalDocs:
        url: https://core.telegram.org/bots/api/#setgamescore
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_169'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_170'
          application/json:
            schema:
              $ref: '#/components/schemas/body_171'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /getGameHighScores:
    post:
      description: |-
        Use this method to get data for high score tables. Will return the score of the specified user and several of their neighbors in a game. On success, returns an *Array* of [GameHighScore](https://core.telegram.org/bots/api/#gamehighscore) objects.

        This method will currently return scores for the target user, plus two of their closest neighbors on each side. Will also return the top three users if the user and his neighbors are not among them. Please note that this behavior is subject to change.
      externalDocs:
        url: https://core.telegram.org/bots/api/#getgamehighscores
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_172'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_173'
          application/json:
            schema:
              $ref: '#/components/schemas/body_174'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_18'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      required:
      - description
      - error_code
      - ok
      type: object
      properties:
        ok:
          type: boolean
          default: false
        error_code:
          type: integer
        description:
          type: string
        parameters:
          $ref: '#/components/schemas/ResponseParameters'
    Update:
      required:
      - update_id
      type: object
      properties:
        update_id:
          type: integer
          description: The update's unique identifier. Update identifiers start from a certain positive number and increase sequentially. This ID becomes especially handy if you're using [Webhooks](https://core.telegram.org/bots/api/#setwebhook), since it allows you to ignore repeated updates or to restore the correct update sequence, should they get out of order. If there are no new updates for at least a week, then identifier of the next update will be chosen randomly instead of sequentially.
        message:
          $ref: '#/components/schemas/Message'
        edited_message:
          $ref: '#/components/schemas/Message'
        channel_post:
          $ref: '#/components/schemas/Message'
        edited_channel_post:
          $ref: '#/components/schemas/Message'
        inline_query:
          $ref: '#/components/schemas/InlineQuery'
        chosen_inline_result:
          $ref: '#/components/schemas/ChosenInlineResult'
        callback_query:
          $ref: '#/components/schemas/CallbackQuery'
        shipping_query:
          $ref: '#/components/schemas/ShippingQuery'
        pre_checkout_query:
          $ref: '#/components/schemas/PreCheckoutQuery'
        poll:
          $ref: '#/components/schemas/Poll'
        poll_answer:
          $ref: '#/components/schemas/PollAnswer'
      description: "This [object](https://core.telegram.org/bots/api/#available-types) represents an incoming update.  \nAt most **one** of the optional parameters can be present in any given update."
      externalDocs:
        url: https://core.telegram.org/bots/api/#update
    WebhookInfo:
      required:
      - has_custom_certificate
      - pending_update_count
      - url
      type: object
      properties:
        url:
          type: string
          description: Webhook URL, may be empty if webhook is not set up
        has_custom_certificate:
          type: boolean
          description: True, if a custom certificate was provided for webhook certificate checks
        pending_update_count:
          type: integer
          description: Number of updates awaiting delivery
        ip_address:
          type: string
          description: '*Optional*. Currently used webhook IP address'
        last_error_date:
          type: integer
          description: '*Optional*. Unix time for the most recent error that happened when trying to deliver an update via webhook'
        last_error_message:
          type: string
          description: '*Optional*. Error message in human-readable format for the most recent error that happened when trying to deliver an update via webhook'
        max_connections:
          type: integer
          description: '*Optional*. Maximum allowed number of simultaneous HTTPS connections to the webhook for update delivery'
        allowed_updates:
          type: array
          description: '*Optional*. A list of update types the bot is subscribed to. Defaults to all update types'
          items:
            type: string
      description: Contains information about the current status of a webhook.
      externalDocs:
        url: https://core.telegram.org/bots/api/#webhookinfo
    User:
      required:
      - first_name
      - id
      - is_bot
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for this user or bot
        is_bot:
          type: boolean
          description: True, if this user is a bot
        first_name:
          type: string
          description: User's or bot's first name
        last_name:
          type: string
          description: '*Optional*. User''s or bot''s last name'
        username:
          type: string
          description: '*Optional*. User''s or bot''s username'
        language_code:
          type: string
          description: '*Optional*. [IETF language tag](https://en.wikipedia.org/wiki/IETF_language_tag) of the user''s language'
        can_join_groups:
          type: boolean
          description: '*Optional*. True, if the bot can be invited to groups. Returned only in [getMe](https://core.telegram.org/bots/api/#getme).'
        can_read_all_group_messages:
          type: boolean
          description: '*Optional*. True, if [privacy mode](https://core.telegram.org/bots#privacy-mode) is disabled for the bot. Returned only in [getMe](https://core.telegram.org/bots/api/#getme).'
        supports_inline_queries:
          type: boolean
          description: '*Optional*. True, if the bot supports inline queries. Returned only in [getMe](https://core.telegram.org/bots/api/#getme).'
      description: This object represents a Telegram user or bot.
      externalDocs:
        url: https://core.telegram.org/bots/api/#user
    Chat:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for this chat. This number may be greater than 32 bits and some programming languages may have difficulty/silent defects in interpreting it. But it is smaller than 52 bits, so a signed 64 bit integer or double-precision float type are safe for storing this identifier.
        type:
          type: string
          description: Type of chat, can be either “private”, “group”, “supergroup” or “channel”
          enum:
          - private
          - group
          - supergroup
          - channel
        title:
          type: string
          description: '*Optional*. Title, for supergroups, channels and group chats'
        username:
          type: string
          description: '*Optional*. Username, for private chats, supergroups and channels if available'
        first_name:
          type: string
          description: '*Optional*. First name of the other party in a private chat'
        last_name:
          type: string
          description: '*Optional*. Last name of the other party in a private chat'
        photo:
          $ref: '#/components/schemas/ChatPhoto'
        bio:
          type: string
          description: '*Optional*. Bio of the other party in a private chat. Returned only in [getChat](https://core.telegram.org/bots/api/#getchat).'
        description:
          type: string
          description: '*Optional*. Description, for groups, supergroups and channel chats. Returned only in [getChat](https://core.telegram.org/bots/api/#getchat).'
        invite_link:
          type: string
          description: '*Optional*. Chat invite link, for groups, supergroups and channel chats. Each administrator in a chat generates their own invite links, so the bot must first generate the link using [exportChatInviteLink](https://core.telegram.org/bots/api/#exportchatinvitelink). Returned only in [getChat](https://core.telegram.org/bots/api/#getchat).'
        pinned_message:
          $ref: '#/components/schemas/Message'
        permissions:
          $ref: '#/components/schemas/ChatPermissions'
        slow_mode_delay:
          type: integer
          description: '*Optional*. For supergroups, the minimum allowed delay between consecutive messages sent by each unpriviledged user. Returned only in [getChat](https://core.telegram.org/bots/api/#getchat).'
        sticker_set_name:
          type: string
          description: '*Optional*. For supergroups, name of group sticker set. Returned only in [getChat](https://core.telegram.org/bots/api/#getchat).'
        can_set_sticker_set:
          type: boolean
          description: '*Optional*. True, if the bot can change the group sticker set. Returned only in [getChat](https://core.telegram.org/bots/api/#getchat).'
        linked_chat_id:
          type: integer
          description: '*Optional*. Unique identifier for the linked chat, i.e. the discussion group identifier for a channel and vice versa; for supergroups and channel chats. This identifier may be greater than 32 bits and some programming languages may have difficulty/silent defects in interpreting it. But it is smaller than 52 bits, so a signed 64 bit integer or double-precision float type are safe for storing this identifier. Returned only in [getChat](https://core.telegram.org/bots/api/#getchat).'
        location:
          $ref: '#/components/schemas/ChatLocation'
      description: This object represents a chat.
      externalDocs:
        url: https://core.telegram.org/bots/api/#chat
    Message:
      required:
      - chat
      - date
      - message_id
      type: object
      properties:
        message_id:
          type: integer
          description: Unique message identifier inside this chat
        from:
          $ref: '#/components/schemas/User'
        sender_chat:
          $ref: '#/components/schemas/Chat'
        date:
          type: integer
          description: Date the message was sent in Unix time
        chat:
          $ref: '#/components/schemas/Chat'
        forward_from:
          $ref: '#/components/schemas/User'
        forward_from_chat:
          $ref: '#/components/schemas/Chat'
        forward_from_message_id:
          type: integer
          description: '*Optional*. For messages forwarded from channels, identifier of the original message in the channel'
        forward_signature:
          type: string
          description: '*Optional*. For messages forwarded from channels, signature of the post author if present'
        forward_sender_name:
          type: string
          description: '*Optional*. Sender''s name for messages forwarded from users who disallow adding a link to their account in forwarded messages'
        forward_date:
          type: integer
          description: '*Optional*. For forwarded messages, date the original message was sent in Unix time'
        reply_to_message:
          $ref: '#/components/schemas/Message'
        via_bot:
          $ref: '#/components/schemas/User'
        edit_date:
          type: integer
          description: '*Optional*. Date the message was last edited in Unix time'
        media_group_id:
          type: string
          description: '*Optional*. The unique identifier of a media message group this message belongs to'
        author_signature:
          type: string
          description: '*Optional*. Signature of the post author for messages in channels, or the custom title of an anonymous group administrator'
        text:
          type: string
          description: '*Optional*. For text messages, the actual UTF-8 text of the message, 0-4096 characters'
        entities:
          type: array
          description: '*Optional*. For text messages, special entities like usernames, URLs, bot commands, etc. that appear in the text'
          items:
            $ref: '#/components/schemas/MessageEntity'
        animation:
          $ref: '#/components/schemas/Animation'
        audio:
          $ref: '#/components/schemas/Audio'
        document:
          $ref: '#/components/schemas/Document'
        photo:
          type: array
          description: '*Optional*. Message is a photo, available sizes of the photo'
          items:
            $ref: '#/components/schemas/PhotoSize'
        sticker:
          $ref: '#/components/schemas/Sticker'
        video:
          $ref: '#/components/schemas/Video'
        video_note:
          $ref: '#/components/schemas/VideoNote'
        voice:
          $ref: '#/components/schemas/Voice'
        caption:
          type: string
          description: '*Optional*. Caption for the animation, audio, document, photo, video or voice, 0-1024 characters'
        caption_entities:
          type: array
          description: '*Optional*. For messages with a caption, special entities like usernames, URLs, bot commands, etc. that appear in the caption'
          items:
            $ref: '#/components/schemas/MessageEntity'
        contact:
          $ref: '#/components/schemas/Contact'
        dice:
          $ref: '#/components/schemas/Dice'
        game:
          $ref: '#/components/schemas/Game'
        poll:
          $ref: '#/components/schemas/Poll'
        venue:
          $ref: '#/components/schemas/Venue'
        location:
          $ref: '#/components/schemas/Location'
        new_chat_members:
          type: array
          description: '*Optional*. New members that were added to the group or supergroup and information about them (the bot itself may be one of these members)'
          items:
            $ref: '#/components/schemas/User'
        left_chat_member:
          $ref: '#/components/schemas/User'
        new_chat_title:
          type: string
          description: '*Optional*. A chat title was changed to this value'
        new_chat_photo:
          type: array
          description: '*Optional*. A chat photo was change to this value'
          items:
            $ref: '#/components/schemas/PhotoSize'
        delete_chat_photo:
          type: boolean
          description: '*Optional*. Service message: the chat photo was deleted'
        group_chat_created:
          type: boolean
          description: '*Optional*. Service message: the group has been created'
        supergroup_chat_created:
          type: boolean
          description: '*Optional*. Service message: the supergroup has been created. This field can''t be received in a message coming through updates, because bot can''t be a member of a supergroup when it is created. It can only be found in reply\_to\_message if someone replies to a very first message in a directly created supergroup.'
        channel_chat_created:
          type: boolean
          description: '*Optional*. Service message: the channel has been created. This field can''t be received in a message coming through updates, because bot can''t be a member of a channel when it is created. It can only be found in reply\_to\_message if someone replies to a very first message in a channel.'
        migrate_to_chat_id:
          type: integer
          description: '*Optional*. The group has been migrated to a supergroup with the specified identifier. This number may be greater than 32 bits and some programming languages may have difficulty/silent defects in interpreting it. But it is smaller than 52 bits, so a signed 64 bit integer or double-precision float type are safe for storing this identifier.'
        migrate_from_chat_id:
          type: integer
          description: '*Optional*. The supergroup has been migrated from a group with the specified identifier. This number may be greater than 32 bits and some programming languages may have difficulty/silent defects in interpreting it. But it is smaller than 52 bits, so a signed 64 bit integer or double-precision float type are safe for storing this identifier.'
        pinned_message:
          $ref: '#/components/schemas/Message'
        invoice:
          $ref: '#/components/schemas/Invoice'
        successful_payment:
          $ref: '#/components/schemas/SuccessfulPayment'
        connected_website:
          type: string
          description: '*Optional*. The domain name of the website on which the user has logged in. [More about Telegram Login »](/widgets/login)'
        passport_data:
          $ref: '#/components/schemas/PassportData'
        proximity_alert_triggered:
          $ref: '#/components/schemas/ProximityAlertTriggered'
        reply_markup:
          $ref: '#/components/schemas/InlineKeyboardMarkup'
      description: This object represents a message.
      externalDocs:
        url: https://core.telegram.org/bots/api/#message
    MessageId:
      required:
      - message_id
      type: object
      properties:
        message_id:
          type: integer
          description: Unique message identifier
      description: This object represents a unique message identifier.
      externalDocs:
        url: https://core.telegram.org/bots/api/#messageid
    MessageEntity:
      required:
      - length
      - offset
      - type
      type: object
      properties:
        type:
          type: string
          description: Type of the entity. Can be “mention” (`@username`), “hashtag” (`#hashtag`), “cashtag” (`$USD`), “bot\_command” (`/start@jobs_bot`), “url” (`https://telegram.org`), “email” (`do-not-reply@telegram.org`), “phone\_number” (`+1-212-555-0123`), “bold” (**bold text**), “italic” (*italic text*), “underline” (underlined text), “strikethrough” (strikethrough text), “code” (monowidth string), “pre” (monowidth block), “text\_link” (for clickable text URLs), “text\_mention” (for users [without usernames](https://telegram.org/blog/edit#new-mentions))
          enum:
          - mention
          - hashtag
          - cashtag
          - bot_command
          - url
          - email
          - phone_number
          - bold
          - italic
          - underline
          - strikethrough
          - code
          - pre
          - text_link
          - text_mention
        offset:
          type: integer
          description: Offset in UTF-16 code units to the start of the entity
        length:
          type: integer
          description: Length of the entity in UTF-16 code units
        url:
          type: string
          description: '*Optional*. For “text\_link” only, url that will be opened after user taps on the text'
        user:
          $ref: '#/components/schemas/User'
        language:
          type: string
          description: '*Optional*. For “pre” only, the programming language of the entity text'
      description: This object represents one special entity in a text message. For example, hashtags, usernames, URLs, etc.
      externalDocs:
        url: https://core.telegram.org/bots/api/#messageentity
    PhotoSize:
      required:
      - file_id
      - file_unique_id
      - height
      - width
      type: object
      properties:
        file_id:
          type: string
          description: Identifier for this file, which can be used to download or reuse the file
        file_unique_id:
          type: string
          description: Unique identifier for this file, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file.
        width:
          type: integer
          description: Photo width
        height:
          type: integer
          description: Photo height
        file_size:
          type: integer
          description: '*Optional*. File size'
      description: This object represents one size of a photo or a [file](https://core.telegram.org/bots/api/#document) / [sticker](https://core.telegram.org/bots/api/#sticker) thumbnail.
      externalDocs:
        url: https://core.telegram.org/bots/api/#photosize
    Animation:
      required:
      - duration
      - file_id
      - file_unique_id
      - height
      - width
      type: object
      properties:
        file_id:
          type: string
          description: Identifier for this file, which can be used to download or reuse the file
        file_unique_id:
          type: string
          description: Unique identifier for this file, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file.
        width:
          type: integer
          description: Video width as defined by sender
        height:
          type: integer
          description: Video height as defined by sender
        duration:
          type: integer
          description: Duration of the video in seconds as defined by sender
        thumb:
          $ref: '#/components/schemas/PhotoSize'
        file_name:
          type: string
          description: '*Optional*. Original animation filename as defined by sender'
        mime_type:
          type: string
          description: '*Optional*. MIME type of the file as defined by sender'
        file_size:
          type: integer
          description: '*Optional*. File size'
      description: This object represents an animation file (GIF or H.264/MPEG-4 AVC video without sound).
      externalDocs:
        url: https://core.telegram.org/bots/api/#animation
    Audio:
      required:
      - duration
      - file_id
      - file_unique_id
      type: object
      properties:
        file_id:
          type: string
          description: Identifier for this file, which can be used to download or reuse the file
        file_unique_id:
          type: string
          description: Unique identifier for this file, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file.
        duration:
          type: integer
          description: Duration of the audio in seconds as defined by sender
        performer:
          type: string
          description: '*Optional*. Performer of the audio as defined by sender or by audio tags'
        title:
          type: string
          description: '*Optional*. Title of the audio as defined by sender or by audio tags'
        file_name:
          type: string
          description: '*Optional*. Original filename as defined by sender'
        mime_type:
          type: string
          description: '*Optional*. MIME type of the file as defined by sender'
        file_size:
          type: integer
          description: '*Optional*. File size'
        thumb:
          $ref: '#/components/schemas/PhotoSize'
      description: This object represents an audio file to be treated as music by the Telegram clients.
      externalDocs:
        url: https://core.telegram.org/bots/api/#audio
    Document:
      required:
      - file_id
      - file_unique_id
      type: object
      properties:
        file_id:
          type: string
          description: Identifier for this file, which can be used to download or reuse the file
        file_unique_id:
          type: string
          description: Unique identifier for this file, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file.
        thumb:
          $ref: '#/components/schemas/PhotoSize'
        file_name:
          type: string
          description: '*Optional*. Original filename as defined by sender'
        mime_type:
          type: string
          description: '*Optional*. MIME type of the file as defined by sender'
        file_size:
          type: integer
          description: '*Optional*. File size'
      description: This object represents a general file (as opposed to [photos](https://core.telegram.org/bots/api/#photosize), [voice messages](https://core.telegram.org/bots/api/#voice) and [audio files](https://core.telegram.org/bots/api/#audio)).
      externalDocs:
        url: https://core.telegram.org/bots/api/#document
    Video:
      required:
      - duration
      - file_id
      - file_unique_id
      - height
      - width
      type: object
      properties:
        file_id:
          type: string
[...]
